<a href="https://colab.research.google.com/github/aviy7/Forclosure_competition/blob/master/competition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
!ls -lart

total 166592
-rw-r--r-- 1 root root 170568254 Feb  4 09:59 93fe009c-2-Foreclosure-Prediction-Dataset_.zip
drwxr-xr-x 4 root root      4096 Mar  8 17:25 .config
drwxr-xr-x 1 root root      4096 Mar  8 17:26 sample_data
drwxr-xr-x 1 root root      4096 Mar 12 10:10 ..
drwxr-xr-x 1 root root      4096 Mar 12 10:14 .

In [4]:
!unzip 93fe009c-2-Foreclosure-Prediction-Dataset_.zip

Archive:  93fe009c-2-Foreclosure-Prediction-Dataset_.zip
  inflating: Customers_31JAN2019.xlsx
  inflating: LMS_31JAN2019.xlsx
  inflating: RF_Final_Data.xlsx
  inflating: test_foreclosure.csv
  inflating: train_foreclosure.csv

In [2]:
!wget https://he-s3.s3.amazonaws.com/media/hackathon/machine-learning-Edelweiss/predict-forclosure-propensity/93fe009c-2-Foreclosure-Prediction-Dataset_.zip

--2019-03-12 10:14:29--  https://he-s3.s3.amazonaws.com/media/hackathon/machine-learning-Edelweiss/predict-forclosure-propensity/93fe009c-2-Foreclosure-Prediction-Dataset_.zip
Resolving he-s3.s3.amazonaws.com (he-s3.s3.amazonaws.com)... 52.219.32.104
Connecting to he-s3.s3.amazonaws.com (he-s3.s3.amazonaws.com)|52.219.32.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 170568254 (163M) [application/zip]
Saving to: ‘93fe009c-2-Foreclosure-Prediction-Dataset_.zip’

93fe009c-2-Foreclos 100%[===================>] 162.67M  19.5MB/s    in 9.6s

2019-03-12 10:14:39 (17.0 MB/s) - ‘93fe009c-2-Foreclosure-Prediction-Dataset_.zip’ saved [170568254/170568254]

In [5]:
!ls -lart

total 335900
-rw-rw-r-- 1 root root    824121 Jan 31 10:21 Customers_31JAN2019.xlsx
-rw-rw-r-- 1 root root 170839060 Jan 31 18:10 LMS_31JAN2019.xlsx
-rw-rw-r-- 1 root root   1345595 Jan 31 18:23 RF_Final_Data.xlsx
-rw-rw-r-- 1 root root    220156 Feb  2 23:26 train_foreclosure.csv
-rw-rw-r-- 1 root root    133444 Feb  2 23:35 test_foreclosure.csv
-rw-r--r-- 1 root root 170568254 Feb  4 09:59 93fe009c-2-Foreclosure-Prediction-Dataset_.zip
drwxr-xr-x 4 root root      4096 Mar  8 17:25 .config
drwxr-xr-x 1 root root      4096 Mar  8 17:26 sample_data
drwxr-xr-x 1 root root      4096 Mar 12 10:10 ..
drwxr-xr-x 1 root root      4096 Mar 12 10:15 .

In [0]:
import pandas as pd
df = pd.read_csv("train_foreclosure.csv")

In [22]:
df.head()
print(df["AGREEMENTID"].count())
print(df["AGREEMENTID"].nunique())

20012
20012

In [0]:
test = pd.read_csv("test_foreclosure.csv")

In [21]:
test["AGREEMENTID"].nunique()

13342

In [23]:
customer = pd.read_excel("Customers_31JAN2019.xlsx")
customer.head()

,CUSTOMERID,CUST_CONSTTYPE_ID,CUST_CATEGORYID,PROFESSION,AGE,SEX,MARITAL_STATUS,QUALIFICATION,NO_OF_DEPENDENT,OCCUPATION,POSITION,GROSS_INCOME,PRE_JOBYEARS,NETTAKEHOMEINCOME,BRANCH_PINCODE
0,12001000,1,5,NaN,33.0,M,M,POSTGRAD,0.0,NaN,NaN,198375.221829,8.0,198375.221829,400070.0
1,12001001,1,5,NaN,44.0,M,M,POSTGRAD,0.0,NaN,NaN,242703.982915,10.0,242703.982915,400070.0
2,12001002,1,7,NaN,50.0,M,M,GRAD,0.0,NaN,NaN,0.000000,NaN,0.000000,400070.0
3,12001003,3,4,NaN,40.0,M,M,GRAD,0.0,NaN,NaN,365263.511624,NaN,365263.516128,400070.0
4,12001004,3,4,NaN,27.0,M,M,GRAD,0.0,NaN,NaN,187342.198995,NaN,187342.198995,400070.0

In [33]:
print(customer["CUSTOMERID"].nunique())
print(customer.info())

10000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 15 columns):
CUSTOMERID           10000 non-null int64
CUST_CONSTTYPE_ID    10000 non-null int64
CUST_CATEGORYID      10000 non-null int64
PROFESSION           0 non-null float64
AGE                  9604 non-null float64
SEX                  9606 non-null object
MARITAL_STATUS       9604 non-null object
QUALIFICATION        9397 non-null object
NO_OF_DEPENDENT      9921 non-null float64
OCCUPATION           0 non-null float64
POSITION             661 non-null object
GROSS_INCOME         10000 non-null float64
PRE_JOBYEARS         2375 non-null float64
NETTAKEHOMEINCOME    10000 non-null float64
BRANCH_PINCODE       9927 non-null float64
dtypes: float64(8), int64(3), object(4)
memory usage: 1.1+ MB
None

In [0]:
lms = pd.read_excel("LMS_31JAN2019.xlsx")

In [34]:
print(lms.info())
print(lms.nunique())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 624250 entries, 0 to 624249
Data columns (total 38 columns):
AGREEMENTID              624250 non-null int64
CUSTOMERID               623734 non-null float64
LOAN_AMT                 624250 non-null float64
NET_DISBURSED_AMT        624250 non-null float64
INTEREST_START_DATE      624250 non-null datetime64[ns]
CURRENT_ROI              624250 non-null float64
ORIGNAL_ROI              624250 non-null float64
CURRENT_TENOR            624245 non-null float64
ORIGNAL_TENOR            624250 non-null int64
DUEDAY                   624250 non-null int64
AUTHORIZATIONDATE        624250 non-null datetime64[ns]
CITY                     624242 non-null object
PRE_EMI_DUEAMT           624250 non-null float64
PRE_EMI_RECEIVED_AMT     624250 non-null float64
PRE_EMI_OS_AMOUNT        624250 non-null float64
EMI_DUEAMT               624250 non-null float64
EMI_RECEIVED_AMT         624250 non-null float64
EMI_OS_AMOUNT            624250 non-null float64
EXCESS_AVAILABLE         624250 non-null float64
EXCESS_ADJUSTED_AMT      624250 non-null float64
BALANCE_EXCESS           624250 non-null float64
NET_RECEIVABLE           624250 non-null float64
OUTSTANDING_PRINCIPAL    624250 non-null float64
PAID_PRINCIPAL           624250 non-null float64
PAID_INTEREST            624250 non-null float64
MONTHOPENING             624250 non-null float64
LAST_RECEIPT_DATE        620463 non-null datetime64[ns]
LAST_RECEIPT_AMOUNT      612205 non-null float64
NET_LTV                  624250 non-null float64
COMPLETED_TENURE         624250 non-null int64
BALANCE_TENURE           624245 non-null float64
DPD                      624219 non-null float64
FOIR                     624250 non-null float64
PRODUCT                  624250 non-null object
SCHEMEID                 623734 non-null float64
NPA_IN_LAST_MONTH        13359 non-null object
NPA_IN_CURRENT_MONTH     13436 non-null object
MOB                      624250 non-null int64
dtypes: datetime64[ns](3), float64(26), int64(5), object(4)
memory usage: 181.0+ MB
None
AGREEMENTID               33354
CUSTOMERID                32895
LOAN_AMT                  13667
NET_DISBURSED_AMT         17774
INTEREST_START_DATE        1847
CURRENT_ROI                 311
ORIGNAL_ROI                 246
CURRENT_TENOR               449
ORIGNAL_TENOR                94
DUEDAY                        3
AUTHORIZATIONDATE          2481
CITY                        316
PRE_EMI_DUEAMT            28022
PRE_EMI_RECEIVED_AMT      27763
PRE_EMI_OS_AMOUNT           914
EMI_DUEAMT               314986
EMI_RECEIVED_AMT         313468
EMI_OS_AMOUNT             24472
EXCESS_AVAILABLE          18174
EXCESS_ADJUSTED_AMT        9257
BALANCE_EXCESS            10733
NET_RECEIVABLE            37792
OUTSTANDING_PRINCIPAL    437898
PAID_PRINCIPAL           243571
PAID_INTEREST            390829
MONTHOPENING             436869
LAST_RECEIPT_DATE          1664
LAST_RECEIPT_AMOUNT       45060
NET_LTV                    8110
COMPLETED_TENURE             99
BALANCE_TENURE              541
DPD                         452
FOIR                        495
PRODUCT                       4
SCHEMEID                    250
NPA_IN_LAST_MONTH             5
NPA_IN_CURRENT_MONTH          3
MOB                          99
dtype: int64

In [0]:
rf = pd.read_excel("RF_Final_Data.xlsx")

In [30]:
rf.nunique()

TicketId                  7511
Type                         8
SubType                     50
Status                       4
Date                      6057
Preprocessed_EmailBody    7184
Preprocessed_Subject      5830
Masked_CustomerID         2709
Masked_AgreementID         402
dtype: int64

In [36]:
df_final = lms.set_index("CUSTOMERID").join(customer.set_index('CUSTOMERID'))
df_final.head()

,AGREEMENTID,LOAN_AMT,NET_DISBURSED_AMT,INTEREST_START_DATE,CURRENT_ROI,ORIGNAL_ROI,CURRENT_TENOR,ORIGNAL_TENOR,DUEDAY,AUTHORIZATIONDATE,...,SEX,MARITAL_STATUS,QUALIFICATION,NO_OF_DEPENDENT,OCCUPATION,POSITION,GROSS_INCOME,PRE_JOBYEARS,NETTAKEHOMEINCOME,BRANCH_PINCODE
CUSTOMERID,,,,,,,,,,,,,,,,,,,,,
12001000.0,11220001,11710107.24,11710107.24,2010-08-30,13.734072,10.612692,58.0,120,1,2010-08-29,...,M,M,POSTGRAD,0.0,NaN,NaN,198375.221829,8.0,198375.221829,400070.0
12001000.0,11220001,11710107.24,11710107.24,2010-08-30,13.734072,10.612692,58.0,120,1,2010-08-29,...,M,M,POSTGRAD,0.0,NaN,NaN,198375.221829,8.0,198375.221829,400070.0
12001000.0,11220001,11710107.24,11710107.24,2010-08-30,13.421934,10.612692,58.0,120,1,2010-08-29,...,M,M,POSTGRAD,0.0,NaN,NaN,198375.221829,8.0,198375.221829,400070.0
12001000.0,11220001,11710107.24,11710107.24,2010-08-30,13.421934,10.612692,58.0,120,1,1970-08-30,...,M,M,POSTGRAD,0.0,NaN,NaN,198375.221829,8.0,198375.221829,400070.0
12001000.0,11220001,11710107.24,11710107.24,2010-08-30,13.421934,10.612692,58.0,120,1,2010-08-29,...,M,M,POSTGRAD,0.0,NaN,NaN,198375.221829,8.0,198375.221829,400070.0

In [37]:
df_final = df_final.join(rf.set_index("Masked_CustomerID"))
print(df_final.head)

            AGREEMENTID     LOAN_AMT  NET_DISBURSED_AMT INTEREST_START_DATE  \
12001000.0     11220001  11710107.24        11710107.24          2010-08-30
12001000.0     11220001  11710107.24        11710107.24          2010-08-30
12001000.0     11220001  11710107.24        11710107.24          2010-08-30
12001000.0     11220001  11710107.24        11710107.24          2010-08-30
12001000.0     11220001  11710107.24        11710107.24          2010-08-30

            CURRENT_ROI  ORIGNAL_ROI  CURRENT_TENOR  ORIGNAL_TENOR  DUEDAY  \
12001000.0    13.734072    10.612692           58.0            120       1
12001000.0    13.734072    10.612692           58.0            120       1
12001000.0    13.421934    10.612692           58.0            120       1
12001000.0    13.421934    10.612692           58.0            120       1
12001000.0    13.421934    10.612692           58.0            120       1

           AUTHORIZATIONDATE         ...         NETTAKEHOMEINCOME  \
12001000.0        2010-08-29         ...             198375.221829
12001000.0        2010-08-29         ...             198375.221829
12001000.0        2010-08-29         ...             198375.221829
12001000.0        1970-08-30         ...             198375.221829
12001000.0        2010-08-29         ...             198375.221829

            BRANCH_PINCODE  TicketId  Type  SubType  Status  Date  \
12001000.0        400070.0       NaN   NaN      NaN     NaN   NaN
12001000.0        400070.0       NaN   NaN      NaN     NaN   NaN
12001000.0        400070.0       NaN   NaN      NaN     NaN   NaN
12001000.0        400070.0       NaN   NaN      NaN     NaN   NaN
12001000.0        400070.0       NaN   NaN      NaN     NaN   NaN

            Preprocessed_EmailBody  Preprocessed_Subject  Masked_AgreementID
12001000.0                     NaN                   NaN                 NaN
12001000.0                     NaN                   NaN                 NaN
12001000.0                     NaN                   NaN                 NaN
12001000.0                     NaN                   NaN                 NaN
12001000.0                     NaN                   NaN                 NaN

[5 rows x 59 columns]

In [39]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Float64Index: 788957 entries, 12001000.0 to nan
Data columns (total 59 columns):
AGREEMENTID               788957 non-null int64
LOAN_AMT                  788957 non-null float64
NET_DISBURSED_AMT         788957 non-null float64
INTEREST_START_DATE       788957 non-null datetime64[ns]
CURRENT_ROI               788957 non-null float64
ORIGNAL_ROI               788957 non-null float64
CURRENT_TENOR             788952 non-null float64
ORIGNAL_TENOR             788957 non-null int64
DUEDAY                    788957 non-null int64
AUTHORIZATIONDATE         788957 non-null datetime64[ns]
CITY                      788949 non-null object
PRE_EMI_DUEAMT            788957 non-null float64
PRE_EMI_RECEIVED_AMT      788957 non-null float64
PRE_EMI_OS_AMOUNT         788957 non-null float64
EMI_DUEAMT                788957 non-null float64
EMI_RECEIVED_AMT          788957 non-null float64
EMI_OS_AMOUNT             788957 non-null float64
EXCESS_AVAILABLE          788957 non-null float64
EXCESS_ADJUSTED_AMT       788957 non-null float64
BALANCE_EXCESS            788957 non-null float64
NET_RECEIVABLE            788957 non-null float64
OUTSTANDING_PRINCIPAL     788957 non-null float64
PAID_PRINCIPAL            788957 non-null float64
PAID_INTEREST             788957 non-null float64
MONTHOPENING              788957 non-null float64
LAST_RECEIPT_DATE         784828 non-null datetime64[ns]
LAST_RECEIPT_AMOUNT       773791 non-null float64
NET_LTV                   788957 non-null float64
COMPLETED_TENURE          788957 non-null int64
BALANCE_TENURE            788952 non-null float64
DPD                       788894 non-null float64
FOIR                      788957 non-null float64
PRODUCT                   788957 non-null object
SCHEMEID                  788441 non-null float64
NPA_IN_LAST_MONTH         16257 non-null object
NPA_IN_CURRENT_MONTH      16348 non-null object
MOB                       788957 non-null int64
CUST_CONSTTYPE_ID         475651 non-null float64
CUST_CATEGORYID           475651 non-null float64
PROFESSION                0 non-null float64
AGE                       438789 non-null float64
SEX                       438915 non-null object
MARITAL_STATUS            438789 non-null object
QUALIFICATION             432233 non-null object
NO_OF_DEPENDENT           471511 non-null float64
OCCUPATION                0 non-null float64
POSITION                  34362 non-null object
GROSS_INCOME              475651 non-null float64
PRE_JOBYEARS              124826 non-null float64
NETTAKEHOMEINCOME         475651 non-null float64
BRANCH_PINCODE            471743 non-null float64
TicketId                  243393 non-null float64
Type                      243393 non-null object
SubType                   243393 non-null object
Status                    243393 non-null object
Date                      243393 non-null object
Preprocessed_EmailBody    238673 non-null object
Preprocessed_Subject      237766 non-null object
Masked_AgreementID        243393 non-null float64
dtypes: datetime64[ns](3), float64(37), int64(5), object(14)
memory usage: 361.2+ MB

In [40]:
customer["OCCUPATION"]

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
8      NaN
9      NaN
10     NaN
11     NaN
12     NaN
13     NaN
14     NaN
15     NaN
16     NaN
17     NaN
18     NaN
19     NaN
20     NaN
21     NaN
22     NaN
23     NaN
24     NaN
25     NaN
26     NaN
27     NaN
28     NaN
29     NaN
        ..
9970   NaN
9971   NaN
9972   NaN
9973   NaN
9974   NaN
9975   NaN
9976   NaN
9977   NaN
9978   NaN
9979   NaN
9980   NaN
9981   NaN
9982   NaN
9983   NaN
9984   NaN
9985   NaN
9986   NaN
9987   NaN
9988   NaN
9989   NaN
9990   NaN
9991   NaN
9992   NaN
9993   NaN
9994   NaN
9995   NaN
9996   NaN
9997   NaN
9998   NaN
9999   NaN
Name: OCCUPATION, Length: 10000, dtype: float64

In [0]:
df_final.to_csv("final_data.csv")

In [42]:
!zip final_data.zip final_data.csv

  adding: final_data.csv (deflated 90%)

In [0]:
from google.colab import files
files.download('final_data.zip')